@font-face {
  font-family: "Norse Bold";
  src: local("Norse Bold"),
      url("Norse-Bold.otf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial";
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
